.footer {
    background-color: #f8f8f8;
    padding: 30px 0 30px 0;
}

td, th {
    padding:5px 20px 1px 5px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

th {
    background-color: #faebcc;
}

.ganre {
    border-right: none;
}